<div class="row">


<div class="dropdown">
  <button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Jewelry & Accessories
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Accessories</a>
    <a class="dropdown-item" href="#">Bags & Purses</a>
    <a class="dropdown-item" href="#">Neclaces</a>
    <a class="dropdown-item" href="#">Rings</a>
    <a class="dropdown-item" href="#">Earrings</a>
    <a class="dropdown-item" href="#">Bracelets</a>
    <a class="dropdown-item" href="#">Body Jewelry</a>
    <a class="dropdown-item" href="#">All Jewelry</a>
  </div>
</div>
<div class="dropdown">
  <button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Clothing & Shoes
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Women's</a>
    <a class="dropdown-item" href="#">Men's</a>
    <a class="dropdown-item" href="#">Kid's & Baby</a>
    <a class="dropdown-item" href="#">Bags & Purses</a>
  </div>
</div>
<div class="dropdown">
  <button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Home & Living
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Home</a>
    <a class="dropdown-item" href="#">Bath & Beauty</a>
    <a class="dropdown-item" href="#">Pet Supplies</a>
  </div>
</div>
<div class="dropdown">
  <button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Wedding & Party
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Party Supplies</a>
    <a class="dropdown-item" href="#">Invitations and Paper</a>
    <a class="dropdown-item" href="#">Wedding Decorations</a>
    <a class="dropdown-item" href="#">Wedding Gifts</a>
    <a class="dropdown-item" href="#">Wedding Accessories</a>
    <a class="dropdown-item" href="#">Wedding Clothing</a>
    <a class="dropdown-item" href="#">Wedding Jewelry</a>
    <a class="dropdown-item" href="#">All Wedding</a>
  </div>
</div>
<div class="dropdown">
  <button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Toys & Entertainment
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Toys</a>
    <a class="dropdown-item" href="#">Electronics and Accessories</a>
    <a class="dropdown-item" href="#">Books</a>
    <a class="dropdown-item" href="#">Movies and Music</a>
    <a class="dropdown-item" href="#">All Toys & Entertainment</a>
  </div>
</div>
<div class="dropdown">
  <button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Art & Collectibles
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Prints</a>
    <a class="dropdown-item" href="#">Photography</a>
    <a class="dropdown-item" href="#">Painting</a>
  </div>
</div>
<div class="dropdown">
  <button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Craft Supplies & Tools
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Home & Hobby</a>
    <a class="dropdown-item" href="#">Jewelry & Beauty</a>
    <a class="dropdown-item" href="#">Sewing and Fiber</a>
    <a class="dropdown-item" href="#">Papercraft</a>
    <a class="dropdown-item" href="#">Visual Arts</a>
    <a class="dropdown-item" href="#">Sculpting & Forming</a>
  </div>
</div>
<div class="dropdown">
  <button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Vintage
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  </div>
  </div>
</div>
