

<img src="./assets/art.png" alt="">
<div class="center">
<h1>What is Etsy?</h1>
<a href="https://www.etsy.com/about">Read our wonderfully weird story.</a>
<div class="row">
  <div class="col-md-4">
    <h3>A one-of-a-kind community</h3>
    <p>Etsy is a global online marketplace, where people come together to make, sell, buy, and collect unique items.</p>
  </div>
  <div class="col-md-4">
    <h3>Support independent creators</h3>
    <p>There's no Etsy warehouse - just millions of people selling the things they love.  We make the whole process easy, helping you connect directly with makers to find something extraordinary.</p>
  </div>
  <div class="col-md-4">
    <h3>Peace of mind</h3>
    <p>Your privacy is the highest priority of our dedicated team.  And if you ever need assistance, we are always ready to step in for support.</p>
  </div>
</div>

<h4>Have a question? Well, we've got some answers.</h4>
<button type="button" class="special" name="button">Go to Help Center</button>

</div>
