
<div class="container">
<app-search-bar></app-search-bar>
<app-catagory></app-catagory>
<img src="./assets/special.jpg" alt="" class="special">
<app-slide-show></app-slide-show>
<a href="https://blog.etsy.com/en/?ref=hp_tertiary_hero" class="btn btn-warning right" role="button">Read our blog for weekly inspiration ></a>
<div class="row center">
  <div class="col-md-4">
    <h3>Unique everything</h3>
    <p>We have millions of one-of-a-kind items, so you can find whatever you need (or really, really want).</p>
  </div>
  <div class="col-md-4">
    <h3>Independant sellers</h3>
    <p>Buy directly from someone who put their heart and soun into making something special.</p>
  </div>
  <div class="col-md-4">
    <h3>Secure shopping</h3>
    <p>We use best-in-class technology to protect your transactions.</p>
  </div>
</div>
<app-bottom-bar></app-bottom-bar>
<br><br>
<br><br>
<app-bottom-info></app-bottom-info>
</div>
