<div class="center">
<p>Get fresh Etsy trends and unique gift ideas delivered right to your inbox.</p>
<input type="text" name="email" value="Enter your email">
<button type="button" name="button">Subscribe</button>
<div class="row">
<div class="col-md-3">
  <h3>Shop</h3>
  <a href="#">Gift Cards</a>
  <a href="#">Etsy Blog</a>
</div>
<div class="col-md-3">
  <h3>Sell</h3>
<a href="#">Sell on Etsy</a>
<a href="#">Teams</a>
<a href="#">Forums</a>
</div>
<div class="col-md-3">
<h3>About</h3>
<a href="#">Etsy, Inc.</a>
<a href="#">Policies</a>
<a href="#">Investors</a>
<a href="#">Careers</a>
<a href="#">Press</a>
</div>
<div class="col-md-3">
  <h3>Follow Etsy</h3>
</div>
</div>
</div>
